<form action="{{ url_for('public.change_password_handler') }}" method="post">
    {{ pass_form.hidden_tag() }}
    <!-- Password Tab Content -->
    <div class="row justify-content-between">
        <div class="col-md-8 p-4">
            <div class="card h-100 border-light shadow mb-4">
                <div class="card-header  bg-body-tertiary p-2 text-primary-emphasis bg-opacity-75">
                    <h5 class="card-title mt-2">
                        Change Password
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ pass_form.current_pass.label(class='form-label') }}
                            {{ pass_form.current_pass(class='form-control', placeholder='Enter Current Password') }}
                            {% if pass_form.current_pass.errors %}
                            <div class="invalid-feedback">
                                {% for error in pass_form.current_pass.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ pass_form.new_pass.label(class='form-label') }}
                            {{ pass_form.new_pass(class='form-control', placeholder='Enter New Password') }}
                            {% if pass_form.new_pass.errors %}
                            <div class="invalid-feedback">
                                {% for error in pass_form.new_pass.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ pass_form.confirm_pass.label(class='form-label') }}
                            {{ pass_form.confirm_pass(class='form-control', placeholder='Confirm New Password') }}
                            {% if pass_form.confirm_pass.errors %}
                            <div class="invalid-feedback">
                                {% for error in pass_form.confirm_pass.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        {{ pass_form.submit(class="btn btn-primary profile-button") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>