{% extends 'layout/users_layout.html' %}


{% block content %}
<div class="container-fluid">
    <div class="container my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="{{url_for('public.home')}}">
                        <i class="bi-house-fill"></i>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none"
                        href="{{url_for('public.dashboard')}}">
                        Dashboard
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a class="link-body-emphasis fw-semibold text-decoration-none"
                        href="{{ url_for('public.models') }}">
                        Models
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Add Post
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3 p-1">
            {{ form.title.label(class='form-label fw-semibold fs-4 fst-italic text-primary-emphasis') }}
            {{ form.title(class='form-control shadow-sm', placeholder='Type Title') }}
        </div>
        <div class="mb-3">
            {{ form.body.label(class='form-label fw-semibold fs-4 fst-italic text-primary-emphasis') }}
            {{ form.body(class='form-control shadow-sm', placeholder='Type Content') }}
        </div>
        <div class="d-grid">
            {{ form.submit(class='btn bsb-btn-xl fw-bold btn-primary bg-gradient shadow-sm') }}
        </div>
    </form>    
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
</div>

<!-- JS -->
<script>
    $(document).ready(function () {
        $("#model-tab").addClass("active");
    });
</script>
{% endblock content %}